<% set_meta_tags title: "#{@user.name}さんの取引手法一覧}", description: "#{@user.name}さんの取引手法の一覧ページになります" %>
<div class="breadcrumbs">
  <% breadcrumb :user_rules, @user %>
</div>
<section class="content">
  <h2><span><% @user.name %>さんの取引手法</span></h2>
  <div class="grid_">
    <% @rules.each_slice(8) do |rules| %>
      <% rules.each do |rule| %>
        <%= render partial: "shared/rules", locals: { rule: rule } %>
      <% end %>
      <div class="ad_3"><%= link_to(image_tag(@ad_3.img_url), @ad_3.af_link)%></div>
      <div class="ad_4"><%= link_to(image_tag(@ad_4.img_url), @ad_4.af_link)%></div>
    <% end%>
  </div>
  <div class="space"></div>
  <div class="pagi">
    <%= paginate @rules %>
  </div>
</section>