<h2>週間PV数TOP4(取引手法)</h2>
<div class="grid_">
  <% rules.each do |rule| %>
    <%= render partial: "shared/rules", locals: { rule: rule } %>
  <% end %>
</div>
<div class="space"></div>
<div class="ad_5"><%= link_to(image_tag(@ad_5.img_url), @ad_5.af_link)%></div>
<div class="ad_2_show"><%= link_to(image_tag(@ad_2.img_url), @ad_2.af_link)%></div>