<div class="breadcrumbs">
  <% breadcrumb :record_edit, @record %>
</div>
<div class="content">
  <div class="container">
    <h1><span>edit trading record</span></h1>
    <%= render partial: "shared/form_record", locals: { record: @record } %>
  </div>
  <%= render partial: "shared/rank_record", locals: { records: @record_ranks } %>
  <%= render partial: "shared/rank_rule", locals: { rules: @rule_ranks } %>
</div>