<% if user_signed_in? %>
  <% if current_user.liked__by?(rule.id) %>
    <td>
      <%= link_to destroy_like_rule_path(rule), method: :DELETE, remote: true do %>
        <i class="fas fa-thumbs-up unlike-btn"></i>
      <% end %>
      <%= rule.like_rules.count %>
    </td>
  <% else %>
    <div class="like_table">
      <%= link_to create_like_rule_path(rule), method: :POST, remote: true do %>
        <i class="fas fa-thumbs-up like-btn"></i>
      <% end %>
      <p><%= rule.like_rules.count %></p>
    </div>
  <% end %>
<% end %>