<p><%= @email %>さん、こんにちは！</p>

<p>FX-Traders運営です。</p>

<p>以下のリンクからメールアドレスの認証をしてください。</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>こちらのメールに心当たりがない場合は削除してください。</p>

