<p><%= @resource.email %>さんこんにちは!</p>

<p>パスワード再設定に関するリクエストを承りました。</p>

<p>以下のリンクから再設定にお進みください！</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>こちらのメールに心当たりがない場合は削除してください。</p>

