<section class="content">
  <h2 >みんなの取引手法</h2>
  <div class="grid_">
    <% @rules.each do |rule| %>
      <%= render partial: "shared/rules", locals: { rule: rule } %>
    <% end %>
  </div>
  <div class="pagi">
    <%= paginate @rules %>
  </div>
</section>