<% set_meta_tags title: "new rule" %>
<div class="breadcrumbs">
  <% breadcrumb :rule_new, @rule %>
</div>
<div class="content">
  <div class="container">
    <h1><span>new method</span></h1>
    <%= render partial: "shared/form_rule", locals: { rule: @rule } %>
  </div>
  <%= render partial: "shared/rank_rule", locals: { rules: @rule_ranks } %>
  <%= render partial: "shared/rank_record", locals: { records: @record_ranks } %>
</div>